<div id="sect1" class="container">
    <header class="main-header-1">
        <div>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="logo">Welcome
                User
            </a>
        </div>
        <nav class="navigation">
            <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="main-items"> Update Profile</a>

            <a routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="main-items"> Your Cart</a>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="main-items">Log-out</a>

        </nav>
    </header>
    <router-outlet></router-outlet>
    <h1 style="text-align: center;color: black;">Available Machine On E-Medicare</h1>
    <div>

        <input  type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">

        <div class="select-wrapper">
            <label for="medicineType">Categories</label>
            <select id="medicineType" [(ngModel)]="selectedType" (change)="onTypeChange(selectedType)">
                <option *ngFor="let type of medicineTypes" [value]="type">{{ type }}</option>
            </select>
        </div>
        

        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Mfg Date</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Exp Date</th>
                        <th>Status</th>
                        <th>Add To Cart</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Medicines of medicines | searchByName: searchText">
                        <td>{{Medicines.medicineName}}</td>
                        <td>{{Medicines.manufactureDate}}</td>
                        <td>{{Medicines.type}}</td>
                        <td>{{Medicines.price}}</td>
                        <td>{{Medicines.description}}</td>
                        <td>{{Medicines.expdate}}</td>
                        <td>{{Medicines.status}}</td>
                        <td>
                            <button (click)="addCart(Medicines.medicineId)" class="buttonon" 
                            [disabled]="Medicines.status === 'not available'">

                                Add To Your Cart</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        
            
            <!--<button class="dropdown-item" (click)="payment()">Proceed to checkout</button> -->
        </div>
    </div>
</div>