<app-header></app-header>
<router-outlet></router-outlet>
 
 
 
 
<body>
    <div class="box">
 
        <div class="form">
 
 
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
 
                <h2>Signin As Admin</h2>
 
                <div class="inputbox">
                    <label for="username"><span>Username </span></label>
                    <input type="UserName" id="username" name="username" class="searchTextField"
                        placeholder="Enter Username" ngModel>
                    <i></i>
                </div>
 
                <div class="inputbox">
                    <label for="password"><span>Password: </span></label>
                    <input type="password" id="password" name="password" class="searchTextField"
                        placeholder="Enter Password" ngModel>
                    <i></i>
                </div>
 
                <input type="submit" value="Login" class="actionBtn">
 
 
            </form>

            <br >
            <a class="btn" [routerLink]="['/adminregister']">New Admin? Sign Up</a>

        </div>
    </div>
</body>